* {
  font-family: 'Open sans', sans-serif;
  color: white;
  text-align: center;
}

button {
  width: 75px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
}

h5 {
  margin-top: 0;
  padding-bottom: 30px;
}

h1 {
  margin-bottom: 0;
}

body {
  background: #383838;
}

#tapper {
  height: 250px;
  width: 250px;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 14pt;
  border-radius: 10px;
  border-style: solid;
}

#bpm {
  padding-top: 10px;
  margin-top: 0;
  font-size: 25pt;
}

.Instructions{
  color:lightgrey;
  font-size: 11pt;
  margin-bottom: 5px;
  margin-top:5px;
}


input[type="number"] {
  background: transparent;
  border: none;
  font-size: 14pt;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#outro {
  color:grey;
}
